<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<!-- 공지사항 목록 -->
	
	<!-- 공지사항 보기 -->
	
	<!-- 공지사항 글 쓰기 -->
	
	<!-- 공지사항 수정 -->
	
	<!-- 공지사항 삭제 -->
	
	<!-- 회원 목록 -->
	
	<!-- 회원 정보보기 -->
	
	<!-- 회원 정보수정 -->
	
	<!-- 회원 강퇴 -->
</mapper>
